<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Spring Thyme Seed Starter Manager</title>
    	 <script src="js/jquery-2.1.4.min.js" ></script>
 		 <script src="js/websocket/sockjs.js" ></script>
 		 <script src="js/websocket/stomp.js" ></script>
		 <script src="js/highcharts.js" ></script>

</head>
<body>

	<h1 th:text="${hello}">Title</h1>
	<h2 th:utext="#{home.welcome}">default text</h2>
	<h3 th:utext="#{home.welcome(${hello})}">default text</h3>
	<h4 th:text="${custom_model.email}"></h4>
	
	

</body>
</html>